{% extends 'base.html.twig' %}

{% block title %}{{ 'title.news.edit' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'title.news.edit' | trans }}
                </div>
                <div class="panel-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
