{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Modifier mes informations</div>
                <div class="panel-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
