{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="row">
        <form method="post" class="col-md-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">Connexion</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" id="inputUsername">E-mail Google</label>
                        <input type="text" id="inputUsername" name="login" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputPassword">Mot de passe</label>
                        <input type="password" id="inputPassword" name="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default btn-block">
                            <i class="glyphicon glyphicon-lock"></i> Se connecter
                        </button>
                    </div>
                    <div class="well well-sm">
                        <p>Si vous n'arrivez pas à vous connecter, autorisez Google à partager vos données en cliquant sur <a href="https://g.co/allowaccess" target="_blank">ce lien</a>.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
