@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700");
body {
  background-color: #F1F3F6;
  color: #6a6c6f;
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 11px;
  font-weight: 600; }

header {
  background-color: #fff;
  line-height: 50px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e5e7;
  margin-bottom: 20px; }
  header img {
    height: 50px; }
  header a {
    display: inline-block;
    margin-left: 20px; }

a {
  color: inherit; }

.panel {
  background-color: transparent;
  border: none;
  box-shadow: none; }
  .panel .panel-heading {
    font-weight: 600;
    padding: 10px 4px;
    border: solid 1px transparent;
    transition: all .3s;
    background-image: none;
    background-color: transparent;
    font-size: 13px;
    box-sizing: border-box;
    color: #6a6c6f; }
    .panel .panel-heading .tools {
      float: right; }
      .panel .panel-heading .tools a {
        display: inline-block;
        color: inherit;
        margin-left: 10px; }
  .panel .panel-body {
    background-color: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    padding: 20px;
    position: relative; }
  .panel .panel-footer {
    border: 1px solid #e4e5e7;
    border-top: none;
    background-color: #f7f9fa;
    background-image: none;
    padding: 10px 15px; }

.pagination {
  display: block;
  text-align: center;
  height: 34px;
  line-height: 34px;
  margin: -12px 0px;
  list-style: none;
  letter-spacing: -3px; }
  .pagination li {
    height: 32px;
    line-height: 32px;
    display: inline-block;
    letter-spacing: normal; }
    .pagination li.active a {
      background-color: #6a6c6f !important; }
    .pagination li a {
      float: none;
      border-top: none;
      border-bottom: none;
      border-left: solid 1px #6a6c6f !important;
      border-right: solid 1px #6a6c6f !important;
      border-radius: 0px !important;
      display: inline-block;
      height: 32px;
      line-height: 32px;
      padding: 0px 12px; }

tr.team_1 td {
  background-color: #94DBEE; }

tr.team_2 td {
  background-color: #EC8484; }

tr.team_3 td {
  background-color: #FFFF99; }

#refresh {
  cursor: pointer; }
  #refresh.loading {
    animation: spin 4s infinite linear;
    cursor: progress; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
#listPokemon > .col-xs-12 > .panel {
  margin-bottom: 0px; }

.pokemon {
  text-align: center;
  position: relative; }
  .pokemon img {
    max-width: 100%; }
  .pokemon .panel-body {
    height: 162px; }
  .pokemon .title {
    display: block;
    text-align: center;
    font-weight: bold; }
  .pokemon .cp {
    position: absolute;
    left: 10px;
    top: 10px; }
    .pokemon .cp:before {
      content: '';
      display: inline-block;
      background-image: url("../images/strength.png");
      background-repeat: no-repeat;
      width: 8px;
      height: 8px;
      background-size: contain;
      margin-right: 5px;
      vertical-align: baseline; }
  .pokemon .pokeball {
    position: absolute;
    top: 10px;
    right: 10px; }
    .pokemon .pokeball:before {
      content: '';
      display: inline-block;
      background-image: url("../images/pokeball.png");
      background-repeat: no-repeat;
      width: 8px;
      height: 8px;
      background-size: contain;
      margin-right: 5px;
      vertical-align: baseline; }

img.team {
  width: 13px;
  display: inline-block;
  margin-right: 10px; }

.avatar {
  position: relative; }
  .avatar img {
    display: block;
    width: 80px;
    border-radius: 40px;
    border: solid 3px #2EB0F6;
    box-shadow: 0px 0px 0px 1px #000; }
  .avatar strong {
    position: absolute;
    left: 80px;
    top: 38px;
    color: #fff;
    text-shadow: 0px 0px 4px #000;
    font-size: 30px; }
  .avatar .progressXP {
    position: relative;
    background-color: #6a6c6f;
    padding: 0px;
    border: none;
    box-shadow: 0px 0px 0px 1px #000;
    border-radius: 3px;
    height: 4px;
    line-height: 4px;
    margin-top: -2px;
    z-index: 2; }
    .avatar .progressXP .progress {
      display: block;
      border: none;
      height: 4px;
      -webkit-appearance: initial;
      background-color: #2EB0F6;
      background-image: none; }

/*# sourceMappingURL=global.css.map */
