{% extends 'base.html.twig' %}

{% block title %}{{ 'title.cluster.edit' | trans }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'title.cluster.edit' | trans }}
            </div>
            <div class="panel-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
